.box {

    margin-top: 1rem;
    margin-left: 1rem;
    
    padding: 1rem;
    background-color: #ffcccc;
    border: 1px solid #ccc;
  }

p.space {
  line-height: 1.8;
}

.question {
  display: flex;
  margin-top: 1em;
}

.answer-choice {
  margin: 5px;
}

h3 {
  font-family:'Lato'; 
  color: black;
}

/* Set the height of the image container */
.image-container {
    height: 400px;
    overflow-y: scroll; /* Enable vertical scrolling */
}
/* Set the size and spacing of the images */
.image {
    width: 150px;
    height: 150px;
    margin: 10px;
}
