.box {

    margin-top: 1rem;
    margin-left: 1rem;
    
    padding: 1rem;
    background-color: #ffcccc;
    border: 1px solid #ccc;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    flex: 1;
  }

p.space {
  line-height: 1.8;
}

.question {
  display: flex;
  margin-top: 1em;
}

.answer-choice {
  margin: 5px;
}

h2 {
  font-family: 'Homemade Apple', cursive;
  color: black;
}
